@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  --color-sea-blue: #1c3050;
  --color-sea-sub-blue: #395680;
  --color-sea-gold: #e3bc86;
  --color-sea-gray: #b5b5b5;
  --color-sea-light-gray: #d7d7d7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c3050;
    --foreground: #d7d7d7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

/* Utilities */
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
